<!DOCTYPE html>
<style>
    body{
	padding: 0;
	margin: 0;	
	width:100vw;
	height: 100vh;	
}
.panel{
	height: 50vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.question-container{
	margin: 10px;
	padding: 5px;
	width: 80vw;
	height: 40vh;
	background-color: #c7dddf;
	font-size: x-large;
	text-align: center;
	
}
.result{
	margin: 10px;
	padding: 5px;
	width:80vw;
	height: 10vh;
	text-align: center;
	font-size: 50px;
	
}
.option-container{
	display: flex;
	justify-content: space-around;
	margin: 10px;
	padding: 5px;
	width: 80vw;
	height: 20vh;
	background-color: #9eb1b3;
		
}
.option{	
	padding: 10px;
	width: 15vw;
	height: 10vh;
	font-size: larger;
	background-color: lightskyblue;
	
}
.option:hover{
	background-color: lightgoldenrodyellow;
}
.navigation{
	width: 80vw;
	height: 10vh;
	margin: 10px;
	padding: 5px;
	display: flex;
	justify-content: space-around;
	background-color:#c7dddf;
}

.evaluate,.next{
	width:30vw;
	height: 8vh;
	padding: 5px;
	font-size: larger;
}
.evaluate{
	
	background-color: #50DBB4;
}
.next{
	color: white;
	background-color: #BF3325;
}

</style>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<!-- <%- /* Expose server-rendered data as window.SAILS_LOCALS :: */ exposeLocalsToBrowser() %> -->
<% questions.forEach(function(question) { %>
   
<body>
	<div class="panel">
		<div class="result">

		</div>
		<div class="question-container" id="question">
			<%- question.qn %>
		</div>
		<div class="option-container">
			<button class="option" onclick="" id="answer1" ><%- question.answer1 %></button>
	
			<button class="option" id="answer2" ><%- question.answer2 %></button>
	
			<button class="option" id="answer3"><%- question.answer3 %></button>
	
			<button class="option" id="answer4"><%- question.answer4 %></button>
		</div>
        <form action="/evaluate-quiz" method="post">
            <button class="evaluate" type="submit">Evaluate</button> 
        </form>
        
			
	</div>
	<script src="script.js"></script>
</body>
<!-- <% question.id=question.id +1 %> -->
  <% }); %>
 