
<%- /* Expose server-rendered data as window.SAILS_LOCALS :: */ exposeLocalsToBrowser() %>


<%- /* Expose server-rendered data as window.SAILS_LOCALS :: */ exposeLocalsToBrowser() %>
<div class="jumbotron"  style="padding:70px; background-color: mediumspringgreen;">
    <h1>List Worksheets</h1>
</div>
<table class='table table-hover table-condensed'>
	
	<% guides.forEach(function(guide) { %>

		<tr>
		<td>
			<button src=<%- "\\Worksheets\\" + guide.fd %>></button>
		</td>
		<td><%- guide.filename %></td>
		<td><%- guide.category %></td> 
		
	 </tr>
  
	<% }); %>
	
</table>
  
     
