<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<!-- <%- /* Expose server-rendered data as window.SAILS_LOCALS :: */ exposeLocalsToBrowser() %> -->
<% questions.forEach(function(question) { %>
   
<body>
	<div class="panel">
		<div class="result">

		</div>
		<div class="question-container" id="question">
			<%- question.qn %>
		</div>
		<div class="option-container">
			<input type="radio" id="answer1"><%- question.answer1 %></input>
			<input type="radio" id="answer2" ><%- question.answer2 %></input>
			<input type="radio" id="answer3"><%- question.answer3 %></input>
			<input type="radio" id="answer4"><%- question.answer4 %></input>
			console.
			<div id="answer_status">

			</div>
		</div>
        
			
	</div>
</body>
  <% }); %>
  
	<button type="submit" onclick="checkAnswer()">Evaluate</button> 
	<script>
	function checkAnswer() 
		{ 
		  console.log('Begin check answer')
		  if(document.getElementById('answer1').checked) 
		  {
			console.log("inc")
			  document.getElementById('answer_status').innerHTML
				  = 'Incorrect Answer';
		  }
		  else if(document.getElementById('answer2').checked)
		   {
			  document.getElementById('answer_status').innerHTML
				  ='Correct Answer';
		  }
		  console.log('END check answer')
		
		};
		</script>



 