
<%- /* Expose server-rendered data as window.SAILS_LOCALS :: */ exposeLocalsToBrowser() %>



<script>console.log("begin display questions")</script>
  <table>
    
    <% questions.forEach(function(question) { %>
  
      <tr>
      <td><%- questions.qn %></td>
      <td><%- questions.answer1 %></td>
      <td><%- questions.answer2 %></td>
      <td><%- questions.answer3 %></td>
      <td><%- questions.answer4 %></td>
      <td><%- questions.correct_answer %></td>
      <td><%- questions.category %></td>    
     </tr>
    <% }); %>
    
  </table>
