<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
	body {
	  font-family: "Lato", sans-serif;
	}
	
	.sidenav {
	  height: 100%;
	  width: 0;
	  position: fixed;
	  z-index: 1;
	  top: 0;
	  left: 0;
	  background-color: rgb(52, 52, 52);
	  overflow-x: hidden;
	  transition: 0.5s;
	  padding-top: 60px;
	}
	
	.sidenav a {
	  padding: 8px 8px 8px 32px;
	  text-decoration: none;
	  font-size: 25px;
	  color: rgb(255,0,0);
	  display: block;
	  transition: 0.3s;
	}
	
	.sidenav a:hover {
	  color: #f1f1f1;
	}
	
	.sidenav .closebtn {
	  position: absolute;
	  top: 0;
	  right: 25px;
	  font-size: 36px;
	  margin-left: 50px;
	}
	
	@media screen and (max-height: 450px) {
	  .sidenav {padding-top: 30px;}
	  .sidenav a {font-size: 36px;}
	}
	</style>
  
<%- /* Expose server-rendered data as window.SAILS_LOCALS :: */ exposeLocalsToBrowser() %>
<div class="jumbotron"  style="padding:70px; background-color: mediumspringgreen;">
    <h1>List Worksheets</h1>
</div>
<table class='table table-hover table-condensed'>
	
	<% guides.forEach(function(guide) { %>

		<tr>
		<td>
			<a class="fa fa-download" role="button" href=<%- "\\Worksheets\\" + guide.fd %> download=<%- "\\Worksheets\\" + guide.fd %>> Download </a>
			<!-- <button class="btn" type="submit" onclick=""><i class="fa fa-download">></i> Download</button> -->
			<!-- <embed src=<%- "\\Worksheets\\" + guide.fd %> width="800px" height="2100px" /> -->
				<!-- <button type="submit" onclick="window.open('file.doc')">Download!</button> -->

			<!-- <button src=></button> -->
		</td>
		<td><%- guide.filename %></td>
		<td><%- guide.category %></td> 
		
	 </tr>
  
	<% }); %>
	
</table>
  
     
