<script src="https://unpkg.com/jspdf@latest/dist/jspdf.umd.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/html2canvas@1.0.0-rc.7/dist/html2canvas.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/jspdf-html2canvas@latest/dist/jspdf-html2canvas.min.js"></script>

<!DOCTYPE HTML>
<html>
	<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<title>View challenging Quiz</title>
	<link href="https://fonts.googleapis.com/css?family=Work+Sans:300,400,500,700,800" rel="stylesheet">
	
	<!-- Animate.css -->
	<link rel="stylesheet" href="/css/animate.css">
	<!-- Icomoon Icon Fonts-->
	<link rel="stylesheet" href="/css/icomoon.css">
	<!-- Bootstrap  -->
	<link rel="stylesheet" href="/css/bootstrap.css">
	<!-- Template.css -->
	<link rel="stylesheet" href="/css/template.css">


	<!-- Magnific Popup -->
	<link rel="stylesheet" href="/css/magnific-popup.css">

	<!-- Owl Carousel  -->
	<link rel="stylesheet" href="/css/owl.carousel.min.css">
	<link rel="stylesheet" href="/css/owl.theme.default.min.css">

	<!-- Theme style  -->
	<link rel="stylesheet" href="/css/style.css">

	<!-- Modernizr JS -->
	<script src="/js/modernizr-2.6.2.min.js"></script>
	<!-- FOR IE9 below -->
	<!--[if lt IE 9]>
	<script src="js/respond.min.js"></script>
	<![endif]-->

	</head>
	<body>
		
	<div class="fh5co-loader"></div>
	
	<div id="page">
	<nav class="fh5co-nav" role="navigation">
		<div class="top">
			<div class="container">
				<div class="row">
					<div class="col-xs-12 text-right">
						<ul class="fh5co-social">
							<li><a href="#"><i class="icon-twitter"></i></a></li>
							<li><a href="#"><i class="icon-dribbble"></i></a></li>
							<li><a href="#"><i class="icon-github"></i></a></li>
						</ul>
					</div>
				</div>
			</div>
		</div>
		<div class="top-menu">
			
			<div class="container">
				<!-- <a class="navbar-brand"><span style="font-size:30px;cursor:pointer;" onclick="openNav()">&#9776;</span></a> -->

				<div class="row">
					<div class="col-xs-1">
						<a href="/subpages/general/home_after_sign_in.html">
							<img src="/Free_Sample_By_Wix.jpg" style="width: 120%;">
						</a>					
					</div>							
					<div class="col-xs-11 text-right menu-1">
						<ul>
							<li class="active"><a href="/subpages/general/home_after_sign_in.html">Home</a></li>
							<li class="has-dropdown">
                                <a>
                                    General Information
                                </a>
                                <ul class="dropdown">
									<li><a href="/subpages/general/user_about.html">About</a></li>
									<li><a href="/subpages/general/user_faq.html">FAQ</a></li>
									<li><a href="/subpages/geenral/user_syllabus.html">Syllabus</a></li>
								</ul>
                            </li>
                            <li class="has-dropdown">
								<a>Quiz</a>
								<ul class="dropdown">
									<li><a href="/upload_questions">Upload Difficult Questions</a></li>
									<li><a href="/subpages/quiz/generate_quiz.html">Generate a Quiz!</a></li>
                                    <li><a href="/subpages/quiz/generate_difficult_quiz.html">Generate a Quiz of Difficult Questions!</a></li>

								</ul>
							</li>
                            <li class="has-dropdown">
								<a>Videos</a>
								<ul class="dropdown">
									<li><a href="/subpages/videos/video_upload.html">Upload a Video</a></li>
									<li><a href="/list_videos">View Videos</a></li>
								</ul>
							</li>
							<li><a href="/subpages/worksheets/worksheets_view.html">View Notes and Worksheets</a></li>                          
							
						</ul>
					</div>
				</div>
				
			</div>
		</div>
	</nav>
	
	

	<header id="fh5co-header" class="fh5co-cover" role="banner" style="background-image:url(images/img_bg_1.jpg);" data-stellar-background-ratio="0.5">
		<div class="overlay"></div>
		<div class="container">
			<div class="row">
				<div class="col-md-8 col-md-offset-2 text-center">
					<div class="display-t">
						<div class="display-tc animate-box" data-animate-effect="fadeIn">
							<h1>Have Fun answering the quiz of challenging questions!</h1>
						</div>
					</div>
				</div>
			</div>
		</div>
	</header>
	<div class="container">
		<div class="row animate-box">
			<div class="col-md-6 col-md-offset-3 text-center fh5co-heading">
				
<div class="questions" id="questions" style="width: 595.28px;color: black;background: white;">
	<h3>
		Quiz for <%= (questions.length > 0)? questions[0].category : "SAT Decoded"%>
	</h3>
<% questions.forEach(function(question) { %>
	<div class="panel" id="panel">
		<div class="result">

		</div>
		<div class="question-container" id="question" style="padding-left: 15px;">
			<%- question.qn %>
		</div>
		<div class="option-container" id="answers-container" style="padding: 15px;">
			<form name=<%- question.correct_answer %> id= <%- '"' + question.id + '"' %> >
				<input type="radio" name=<%- question.id %> id=<%- question.id + '1"' %> value = <%-JSON.stringify(question.answer1)%>> <%- question.answer1 %></input><br/>
				<input type="radio" name=<%- question.id %> id=<%- question.id + '2"' %> value = <%-JSON.stringify(question.answer2)%>> <%- question.answer2 %></input><br/>
				<input type="radio" name=<%- question.id %> id=<%- question.id + '3"' %> value = <%-JSON.stringify(question.answer3)%>> <%- question.answer3 %></input><br/>
				<input type="radio" name=<%- question.id %> id=<%- question.id + '4"' %> value = <%-JSON.stringify(question.answer4)%>> <%- question.answer4 %></input><br/>
				<div id="answer_status"> </div>
				<div id="correct_answer" hidden><%- question[question.correct_answer] %></div>
				<div id="answer_description" hidden><%- "Explanation: " + question.answer_description %></div>
			</form>
		</div>		
	</div>
  <% }); %>
</div>
<button type="submit" onclick="checkAnswers()">Evaluate</button> 
<button id="submit" onclick="window.print();">Print Quiz</button>
<button id="submit" onclick="printReport();">Download Quiz</button>
<button id="submit" onclick="sendReport()"> Send Email of report</button>

	<script>
		
	function checkAnswers() 
		{ 
		  console.log('Begin check answer')
	          answers = document.getElementById('answers-container')
		  answer_forms = document.forms;
		  for (var i=0; i<answer_forms.length; i++)  {
			var radios = answer_forms[i].elements;// inputs from radio buttons
			var quiz_id = parseInt(answer_forms[i].name)// identity of the quiz
			console.log(quiz_id, answer_forms[i].children)
			var children = answer_forms[i].children // all the divs inside the form
			var correct_answer =""
			var answer_status
			var answer_description
			for (var k=0; k < children.length; k++) {
				if (children[k].id === "correct_answer")
				correct_answer = children[k].innerHTML;
				if (children[k].id === "answer_description")
				answer_description = children[k];
				if (children[k].id === "answer_status") 
				answer_status = children[k];
			}
			answer_status.innerHTML = "Incorrect Answer"	
			var incorrect = true
		  	for (var j=0; j<radios.length; j++)  {
				console.log(radios[j], radios[j].checked, radios[j].value, correct_answer )
				if (radios[j].checked && radios[j].value === correct_answer ) {
					answer_status.innerHTML = "Correct Answer"
					incorrect = false
					break;
				}
			}
			answer_description.hidden = false
			correct_answer.hidden = false
		  }
		  console.log('END check answer')
		
		};
		
	async function sendReport()
	{
		console.log("sendReport");

		let page = document.getElementById('questions');

		var pdf = await html2PDF(page, {
			jsPDF: {
				format: 'a4',
			},
			html2canvas: {
				scrollX: 0,
				scrollY: -window.scrollY,
  			},
			imageType: 'image/jpeg',
			output: 'quiz_report.pdf',
			success: function(pdf) {
    			console.log(pdf.output('blob'));
				let formData = new FormData(); 
				formData.append('file', pdf.output('blob'), 'quiz_report.pdf');
				console.log(formData)
				fetch('/sendreport/upload', {
					method: "POST", 
					body: formData,
					data: formData,
				});
  			}
		});



	}
	async function printReport()
	{
		
		let page = document.getElementById('questions');

		var pdf = await html2PDF(page, {
			jsPDF: {
				format: 'a4',
			},
			html2canvas: {
				scrollX: 0,
				scrollY: -window.scrollY,
  			},
			imageType: 'image/jpeg',
			output: 'quiz_report.pdf',
		});
	}

		</script>
		
			</div>
		</div>
	</div>
		

	

	<footer id="fh5co-footer" role="contentinfo">
		<div class="container">
			

			<div class="row copyright">
				<div class="col-md-12 text-center">
					<p>
						<small class="block">&copy; 2023 SAT DECODED. All Rights Reserved.</small> 
					</p>
					<p>
						<ul class="fh5co-social-icons">
							<li><a href="#"><i class="icon-twitter"></i></a></li>
							<li><a href="#"><i class="icon-facebook"></i></a></li>
							<li><a href="#"><i class="icon-linkedin"></i></a></li>
							<li><a href="#"><i class="icon-dribbble"></i></a></li>
						</ul>
					</p>
				</div>
			</div>

		</div>
	</footer>
	</div>

	<div class="gototop js-top">
		<a href="#" class="js-gotop"><i class="icon-arrow-up"></i></a>
	</div>
	
	<!-- jQuery -->
	<script src="/js/jquery.min.js"></script>
	<!-- jQuery Easing -->
	<script src="/js/jquery.easing.1.3.js"></script>
	<!-- Bootstrap -->
	<script src="/js/bootstrap.min.js"></script>
	<!-- Waypoints -->
	<script src="/js/jquery.waypoints.min.js"></script>
	<!-- Stellar Parallax -->
	<script src="/js/jquery.stellar.min.js"></script>
	<!-- Carousel -->
	<script src="/js/owl.carousel.min.js"></script>
	<!-- countTo -->
	<script src="/js/jquery.countTo.js"></script>
	<!-- Magnific Popup -->
	<script src="/js/jquery.magnific-popup.min.js"></script>
	<script src="/js/magnific-popup-options.js"></script>
	<!-- Main -->
	<script src="/js/main.js"></script>

	</body>
</html>

