<div class="container">
	<h3>Videos3 Listing</h3>
	<table class='table table-hover table-condensed'>
	<tr>

	<th>  </th>

	<th></th>
	<th></th>
	<th></th>
</tr>
	<% _.forEach(videos3s, function(videos3) { %>
    		<tr data-id="<%=videos3.id %>" data-model="videos3">
		
			<td><%= videos3.%></td>
		
			<td><a href="/videos3/show/<%=videos3.id %>"  class="btn btn-primary btn-sm" role="button">Show</a></td>
			<td><a href="/videos3/edit/<%=videos3.id %>"  class="btn btn-primary btn-sm" role="button">Edit</a></td>

			<td><form action="/videos3/destroy/<%=videos3.id %>" method="POST">
				<input type="hidden" name="_method" value="delete"/>
				<input type="submit" value="Delete"  class="btn btn-danger btn-sm" role="button"/>
			</form></td>
		</tr>
	<% }) %>
	</table>
	<a href="/videos3/new/" class="btn btn-success btn-sm" role="button">New Videos3</a> |
	<a href="/">all scaffolds</a>
</div>