<div id="view" v-cloak>

  <h1>TODO: Implement this page.</h1>
  <p>(See also <em>assets/styles/pages/view.less</em>, <em>assets/js/pages/view.page.js</em>, and <em>api/controllers/view-view.js</em>.)</p>

</div>
<%- /* Expose server-rendered data as window.SAILS_LOCALS :: */ exposeLocalsToBrowser() %>
<div id="quiz" v-cloak>

  <h1>TODO: Implement this page.</h1>
  <p>(See also <em>assets/styles/pages/quiz.less</em>, <em>assets/js/pages/quiz.page.js</em>, and <em>api/controllers/view-quiz.js</em>.)</p>

</div>
<%- /* Expose server-rendered data as window.SAILS_LOCALS :: */ exposeLocalsToBrowser() %>
<!DOCTYPE html>
<style>
    body{
	padding: 0;
	margin: 0;	
	width:100vw;
	height: 100vh;	
}
.panel{
	height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.question-container{
	margin: 10px;
	padding: 5px;
	width: 80vw;
	height: 10vh;
	background-color: #c7dddf;
	font-size: x-large;
	text-align: center;
	
}
.result{
	margin: 10px;
	padding: 5px;
	width:80vw;
	height: 10vh;
	text-align: center;
	font-size: 50px;
	
}
.option-container{
	display: flex;
	justify-content: space-around;
	margin: 10px;
	padding: 5px;
	width: 80vw;
	height: 20vh;
	background-color: #9eb1b3;
		
}
.option{	
	padding: 10px;
	width: 15vw;
	height: 10vh;
	font-size: larger;
	background-color: lightskyblue;
	
}
.option:hover{
	background-color: lightgoldenrodyellow;
}
.navigation{
	width: 80vw;
	height: 10vh;
	margin: 10px;
	padding: 5px;
	display: flex;
	justify-content: space-around;
	background-color:#c7dddf;
}

.evaluate,.next{
	width:30vw;
	height: 8vh;
	padding: 5px;
	font-size: larger;
}
.evaluate{
	
	background-color: #50DBB4;
}
.next{
	color: white;
	background-color: #BF3325;
}

</style>
<html lang="en">
  
  <!-- <% questions.forEach(function(question) { %>
  
    <tr>
    
    <td><%- question.qn %></td>
    <td><%- question.answer1 %></td>
    <td><%- question.answer2 %></td>
    <td><%- question.answer3 %></td>
    <td><%- question.answer4 %></td>
    <td><%- question.correct_answer %></td>
    <td><%- question.category %></td>    
   </tr>
  
  <% }); %> -->
  

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
	<div class="panel">
		<div class="result">

		</div>
		<div class="question-container" id="question">
      <td><%- question.qn %></td>
		</div>
		<div class="option-container">
			<button class="option" onclick="" id="answer1" ><td><%- question.answer1 %></td>
      </button>
	
			<button class="option" id="answer2" ><td><%- question.answer2 %></td>
      </button>
	
			<button class="option" id="answer3"><td><%- question.answer3 %></td>
      </button>
	
			<button class="option" id="answer4"><td><%- question.answer4 %></td>
      </button>
		</div>
		<div class="navigation">
			<button class="evaluate" type="submit">Evaluate</button>
			<button class="next">Next</button>
		</div>
	</div>
	<script src="script.js"></script>
</body>
</html>
